@import 'variables';
ul{
	list-style:none;
}
.clearfix{
	clear:both;
}
body{
	background-color:#f1f1f1
}

.rechercheMembers{
	float:right;
	color:white;
	margin-right:10px;
}

.inputSearch{
	display:block;
	color:black;
}

.inputSearchValid{
	color:black;
}
/****** MAIN PAGE ********/
.subscriptionMain:hover{
	cursor:pointer;
}
#subscription{
	border:1px solid #CCC;
	padding:15px;
	display:none;
	height:427px;
}
.loginMain:hover{
	cursor:pointer;
}
#login{
	border:1px solid #CCC;
	padding:15px;
	display:none;
	height:427px;
}

.passwordLost{
	display:block;
	cursor:pointer;
}

#formPasswordLost{
	display:none;
}

.cancelReset{
	display:block;
	cursor:pointer;
}

.notificationMailNok{
	display:none;
	color:red;
	text-align:center;
}
.notificationMailOk{
	display:none;
	color:green;
	text-align:center;
}


/**** TOUTES LES PAGES ****/
.navbar-header {
	img{
		height:70px;
		width:auto;
	}
}

/**** PAGE PROFIL ****/
.imgProfil{
	height:auto;
	width:300px;
	border:1px solid black;
	margin-left:15px;
	display:none;
}

.edit{
	text-align:center;
}

.messageContainer{
	li{
		display:block;
		margin-bottom:10px;
	}
}

.articleUser{
	@include widthContent;
	width:75%;
}

#updateProfil{
	border:1px solid #ccc;
	padding: 10px;

}

#updatePassword{
	margin-top:20px;
	border:1px solid #ccc;
	padding: 10px;

}

#updateProfilPicture{
	margin-top:20px;
	border:1px solid #ccc;
	padding: 10px;
	.profilImg{
		height:100px;
		width:100px;
		margin:5px;
		border:1px solid black;
	}
}

.errorUpdate{
	display:none;
	color:green;
	float:right;
}

.errorUpdatePassword{
	display:none;
	color:green;
	float:right;
}

.errorField{
	color:red;
}


/**** PAGE ACCUEIL ****/
.senderImg{
	height:70px;
	width:70px;
	border-radius:100%;
	float:left;
	margin-right:5px;
}
.senderIdentity{
	line-height:40px
}

.articleModification{
	float:right;
	margin-right:10px;
}
.glyphicon:hover{
	cursor:pointer;
}

.editThisMessage{
	margin:0 auto;
	// display:none;
	// border:1px solid black;
	margin-top:10px;
	height:0;
	width:50%;
	// padding:15px;
	overflow:hidden;
	textarea{
		width:100%;
	}
	.statusUpdate{
		color:green;
	}
}
	.deleteThisMessage{
		float:right;
	}

	.deleteThisMessage{
		float:right;
		display:none;
		margin-right:10px;
	}

	.acceptDelete:hover{
		cursor:pointer;

	}
	.cancelDelete:hover{
		cursor:pointer;
	}
	.newMessageWallEdit{
		width:40%;
		margin:0 auto;
		display:none;
		button{
			width:20px;
		}
	}

/**** PAGE EDITION ****/
.redaction{
	width:80%;
	margin:0 auto;
	margin-top: 40px;
}

/**** PAGE notifications ****/
.notifications{
	width: 15%;
    margin-left: 10px;
}

.notificationContainer{
	li{
		margin-bottom:10px;
	}
}

.notificationUser{
	@include widthContent();
	text-align:center;
	margin-top:50px;
	.agreeFriend{
		margin-right:6px;
	}
}






/**** PAGE ListUsers ****/

.contenuListUsers {
	@include widthContent;
	box-shadow:none;
	text-align:center;
	background-color:#f1f1f1;
	li{
		margin-bottom: 3%; 
		p:hover{
			cursor:pointer;
		}
	}
	.nameUser{
		display:inline-block;
		margin-right:30px;
	}

	.contenuUser{
		width:40%;
		margin:0 auto;
		@include widthContent;
		background-color:white;
	}

	.pictureUser{
		display:inline;
		margin-right:10px;
		
		img{
			height:100px;
			width:100px;
			border-radius:5px;
		}
	}
	.addUser{
		margin:10px;
	}
}

/**** PAGE ListFriends ****/
.selectContact{
	width: 15%;
    margin-left: 10px;
}

.contenuListFriends{
	.nameFriend{
		text-align:center;
		font-size:21px;
		color:green;
	}
	.pictureFriend{
		text-align:center;
		img{
			height:150px;
			width:auto;
		}
	}
	.contenuFriend{
		@include widthContent;
		margin-bottom:15px;
		width:60%;
	}
	.updateFriend{
		width: 40%;
    	margin: 0 auto
	}
	.accessWallFriend{
		float:left;
		margin-bottom:10px;
	}
	.informationFriend{
		float: right;
		margin-bottom:10px;
	}
	.privateMessageFriend{
		float:left;
	}

	.suggestionFriend{
		float:right;
	}
	.btn-danger{
		float:right;
		margin-top:10px;
	}
}

/*****Page Edition Friend wall *****/
.publierOnFriendWall{
	margin-top:15px;
}
.redactionFriendWall{
	text-align:center;
}
#contenuFriendWall{
	@include widthContent;
}
.buttonPublicWallFriend{
	margin-top:15px;
}

/*****Page Friend wall *****/
.articleFriend{
	margin-bottom:10px;
}
.publishingOnWallFriend{
	margin-top:15px;
	cursor:pointer;
	width: 50%;
    margin: 0 auto;
    form{
    	display:none;
    	
    }
}

/*****Page Private Message  editor*****/
.btnPrivateMessage{
	margin-top:10px;
}

/*****Page Private Message *****/
.containerPM{
	@include widthContent;
	margin-bottom:15px;
}

.privateMessagesPageEditorForm{
	width: 80%;
    margin: 0 auto;
}
.contactPM{
	width:15%;
	margin:20px;
}
.sendPrivateMessageOwnPage{
	margin-top:10px;
}
.containerPrivateMessage{
	li{
		margin-bottom:10px;
	}
}
.goRight{
	text-align:right;
}
/*****Page Tchat *****/
.containerChat{
	width:100%;
	.tchat{
		margin-top:15px;
		margin-bottom:15px;
	}
	.interactionChat{
		display: inline-block;
	    padding: 15px;
	    box-shadow: 4px 4px 6px #DDD;
	    
	    width: 50%;
	    height: 150px;
	    margin-left: 10%;
	    background-color: white;
		display:inline-block;
		margin-left:20px;
		vertical-align:top;
	}
	.userChat{
		@include widthContent;
		width:40%;

		button{
			display:block;
			margin-right:20px
		}
		.showHide{
			margin-right:10px;
		}
	}
	.contentChat{
		margin-bottom:12px;
		p{
			margin:0;
		}
	}
	.contactOnline{
		display:inline-block;
		padding:15px;
		box-shadow: 4px 4px 6px #DDD;
		width:30%;
		height:150px;
		overflow-y:scroll;
		margin-left:10%;
		background-color:white;
		li{
			margin-bottom:30px;
		}
		.chatOffer{
			display:inline-block;
			text-align:center;
			margin-left:10px;
			&:hover{
				cursor:pointer;
			}
		}
		.offer{
			text-align:center;
		}
		.thisContactChat{
			button{
				float:right;
				margin-left:10px;
			}
		}
		
	}
}

.formAdmin{
	@include widthContent;
	text-align:center;
}
.thisPublicMessage{
	@include widthContent;
}

.editThisMessageAdmin{
	display:none;
}
.deleteThisMessageAdmin{
	display:none;
}

.navbarAdmin{
	// display:none;
}
.containerFormProfil{
	@include widthContent;
	// display:none;
}

.containerMembers{
	@include widthContent;
	// display:none;
	width:50%;
		.thisMember{
			margin-top:25px;
		}
	.traitement{
		a{
			cursor:pointer;
			margin-right:5px;
			display:block;
		}
	}
}

/****************SEARCH PAGE ******************/
.containerSearch{
	@include widthContent;
	margin-top:10px;
}

.ResultatSearch{
	@include widthContent;
	margin-top:10px;
	width:50%
}
.profilUserSearch{
	height:100px;
	width:100px;
}


  