ul {
  list-style: none;
}

.clearfix {
  clear: both;
}

body {
  background-color: #f1f1f1;
}

.rechercheMembers {
  float: right;
  color: white;
  margin-right: 10px;
}

.inputSearch {
  display: block;
  color: black;
}

.inputSearchValid {
  color: black;
}

/****** MAIN PAGE ********/
.subscriptionMain:hover {
  cursor: pointer;
}

.jumbotron p:nth-child(2){
  display:block;
}

.jumbotron p:nth-child(3){
  display:inline-block;
  margin-right:15px;
}

.jumbotron p:nth-child(4){
  display:inline-block;
}

#subscription {
  border: 1px solid #CCC;
  padding: 15px;
  display: none;
  height: 427px;
}

.loginMain:hover {
  cursor: pointer;
}

#login {
  border: 1px solid #CCC;
  padding: 15px;
  display: none;
  height: 427px;
}

.passwordLost {
  display: block;
  cursor: pointer;
}

#formPasswordLost {
  display: none;
}

.cancelReset {
  display: block;
  cursor: pointer;
}

.notificationMailNok {
  display: none;
  color: red;
  text-align: center;
}

.notificationMailOk {
  display: none;
  color: green;
  text-align: center;
}

/**** TOUTES LES PAGES ****/
.navImg {
  height: 70px;
  width: auto;
  margin-bottom:8px;
  margin-top:8px;
  border:1px solid #449d44;
}

.userInfo{
  display:inline-block;
}

.userNavigation{
  display:inline-block !important;
}

.logoutImg{
  border: none !important;
  height: 30px;
  border-radius: 5px;
  /* margin-top: 14px; */
  position: absolute;
  top: 10px;
  left: 5px;
}

.logoutImg:hover{
  cursor:pointer;
  border:2px solid yellow !important;
  border-radius:100%;   
}

.userNavigation a{
  line-height:1.2 !important;
}

.ninja_game{
  width:100px;  
  height:100px;
}

/**** PAGE PROFIL ****/
.imgProfil {
  height: auto;
  width: 300px;
  border: 1px solid black;
  margin-left: 15px;
  display: none;
}
#navbar_connect ul a {
  line-height:2.2;
}

.edit {
  text-align: center;
}

.messageContainer li {
  display: block;
  margin-bottom: 10px;
}

.articleUser {
  padding: 3%;
  color: black;
  width: 80%;
  border-radius: 5px;
  background-color: white;
  height: auto;
  border-radius: 5px;
  box-shadow: 4px 4px 6px #DDD;
  margin: 0 auto;
  margin-top: 5px;
  width: 75%;
}

#updateInfo{
  padding-top:40px;
  position: relative;
}

#updateProfil {
  border: 1px solid #ccc;
  padding: 10px;
  display: inline-block;
  position: absolute;
  left: 0;
  width: 50%;
}

#updateProfilPicture {
  border: 1px solid #ccc;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: -361px;
}

#updatePassword {
  border: 1px solid #ccc;
  padding: 10px;
  position: absolute;
  right: 0px;
  top: 0px;
}


#updateProfilPicture .profilImg {
  height: 100px;
  margin: 10px;
  border: 1px solid black;
}

.errorUpdate {
  display: none;
  color: green;
  float: right;
}

.errorUpdatePassword {
  display: none;
  color: green;
  float: right;
}

.errorField {
  color: red;
}

/**** PAGE ACCUEIL ****/
.senderImg {
  height: 50px;
  float: left;
  margin-right: 5px;
  margin-bottom:10px;
}

.senderIdentity {
  line-height: 40px;
}

.articleModification {
  float: right;
  margin-right: 10px;
}

.glyphicon:hover {
  cursor: pointer;
}

.editThisMessage {
  margin: 0 auto;
  margin-top: 10px;
  height: 0;
  width: 50%;
  overflow: hidden;
}

.editThisMessage textarea {
  width: 100%;
}

.editThisMessage .statusUpdate {
  color: green;
}

.deleteThisMessage {
  float: right;
}

.deleteThisMessage {
  float: right;
  display: none;
  margin-right: 10px;
}

.acceptDelete:hover {
  cursor: pointer;
}

.cancelDelete:hover {
  cursor: pointer;
}

.newMessageWallEdit {
  width: 40%;
  margin: 0 auto;
  display: none;
}

 #mceu_16-body button {
  width: 60px;
}

.messages{
  /*border-top:1px solid #3edb97;*/
}

/**** PAGE EDITION ****/
.redaction {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}

/**** PAGE notifications ****/
.notifications {
  width: 15%;
  margin-left: 10px;
}

.notificationContainer li {
  margin-bottom: 10px;
}

.notificationUser {
  padding: 3%;
  color: black;
  width: 80%;
  border-radius: 5px;
  background-color: white;
  height: auto;
  border-radius: 5px;
  box-shadow: 4px 4px 6px #DDD;
  margin: 0 auto;
  margin-top: 5px;
  text-align: center;
  margin-top: 50px;
}

.notificationUser .agreeFriend {
  margin-right: 6px;
}

/**** PAGE ListUsers ****/
.contenuListUsers {
  padding: 3%;
  color: black;
  width: 80%;
  border-radius: 5px;
  background-color: white;
  height: auto;
  border-radius: 5px;
  box-shadow: 4px 4px 6px #DDD;
  margin: 0 auto;
  margin-top: 5px;
  box-shadow: none;
  text-align: center;
  background-color: #f1f1f1;
}

.contenuListUsers li {
  margin-bottom: 3%;
  display: inline-block;
  margin:10px;

}

.contenuListUsers li p:hover {
  cursor: pointer;
}

.contenuListUsers .nameUser {
  
}

.contenuListUsers .contenuUser {
  width: 225px;
  margin: 0 auto;
  padding: 3%;
  color: black;
  border-radius: 5px;
  background-color: white;
  height: auto;
  border-radius: 5px;
  box-shadow: 4px 4px 6px #DDD;
  margin: 0 auto;
  margin-top: 5px;
  background-color: white;
}

.contenuListUsers .pictureUser {
}

.contenuListUsers .pictureUser img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}

.contenuListUsers .addUser {
  margin: 10px;
}

/**** PAGE ListFriends ****/
.selectContact {
  width: 15%;
  margin-left: 10px;
}

.contenuListFriends .nameFriend {
  text-align: center;
  font-size: 21px;
  color: green;
}

.contenuListFriends .pictureFriend {
  text-align: center;
}

.contenuListFriends .pictureFriend img {
  height: 150px;
  width: auto;
}

.contenuListFriends .contenuFriend {
  padding: 3%;
  color: black;
  width: 80%;
  border-radius: 5px;
  background-color: white;
  height: auto;
  border-radius: 5px;
  box-shadow: 4px 4px 6px #DDD;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 60%;
}

.contenuListFriends .updateFriend {
  width: 40%;
  margin: 0 auto;
}

.contenuListFriends .accessWallFriend {
  float: left;
  margin-bottom: 10px;
}

.contenuListFriends .informationFriend {
  float: right;
  margin-bottom: 10px;
}

.contenuListFriends .privateMessageFriend {
  float: left;
}

.contenuListFriends .suggestionFriend {
  float: right;
}

.contenuListFriends .btn-danger {
  float: right;
  margin-top: 10px;
}

/*****Page Edition Friend wall *****/
.publierOnFriendWall {
  margin-top: 15px;
}

.redactionFriendWall {
  text-align: center;
}

#contenuFriendWall {
  padding: 3%;
  color: black;
  width: 80%;
  border-radius: 5px;
  background-color: white;
  height: auto;
  border-radius: 5px;
  box-shadow: 4px 4px 6px #DDD;
  margin: 0 auto;
  margin-top: 5px;
}

.buttonPublicWallFriend {
  margin-top: 15px;
}

/*****Page Friend wall *****/
.articleFriend {
  margin-bottom: 10px;
}

.publishingOnWallFriend {
  margin-top: 15px;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
}

.publishingOnWallFriend form {
  display: none;
}

/*****Page Private Message  editor*****/
.btnPrivateMessage {
  margin-top: 10px;
}

/*****Page Private Message *****/
.containerPM {
  padding: 3%;
  color: black;
  width: 80%;
  border-radius: 5px;
  background-color: white;
  height: auto;
  border-radius: 5px;
  box-shadow: 4px 4px 6px #DDD;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 15px;
}

.privateMessagesPageEditorForm {
  width: 80%;
  margin: 0 auto;
}

.contactPM {
  width: 15%;
  margin: 20px;
}

.sendPrivateMessageOwnPage {
  margin-top: 10px;
}

.containerPrivateMessage li {
  margin-bottom: 10px;
}

.goRight {
  text-align: right;
}

/*****Page Tchat *****/
.containerChat {
  width: 100%;
}

.containerChat .tchat {
  margin-top: 15px;
  margin-bottom: 15px;
}

.containerChat .interactionChat {
  display: inline-block;
  padding: 15px;
  box-shadow: 4px 4px 6px #DDD;
  width: 50%;
  height: 150px;
  margin-left: 10%;
  background-color: white;
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}

.containerChat .userChat {
  padding: 3%;
  color: black;
  width: 80%;
  border-radius: 5px;
  background-color: white;
  height: auto;
  border-radius: 5px;
  box-shadow: 4px 4px 6px #DDD;
  margin: 0 auto;
  margin-top: 5px;
  width: 40%;
}

.containerChat .userChat button {
  display: block;
  margin-right: 20px;
}

.containerChat .userChat .showHide {
  margin-right: 10px;
}

.containerChat .contentChat {
  margin-bottom: 12px;
}

.containerChat .contentChat p {
  margin: 0;
}

.containerChat .contactOnline {
  display: inline-block;
  padding: 15px;
  box-shadow: 4px 4px 6px #DDD;
  width: 30%;
  height: 150px;
  overflow-y: scroll;
  margin-left: 10%;
  background-color: white;
}

.containerChat .contactOnline li {
  margin-bottom: 30px;
}

.containerChat .contactOnline .chatOffer {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}

.containerChat .contactOnline .chatOffer:hover {
  cursor: pointer;
}

.containerChat .contactOnline .offer {
  text-align: center;
}

.containerChat .contactOnline .thisContactChat button {
  float: right;
  margin-left: 10px;
}

.formAdmin {
  padding: 3%;
  color: black;
  width: 80%;
  border-radius: 5px;
  background-color: white;
  height: auto;
  border-radius: 5px;
  box-shadow: 4px 4px 6px #DDD;
  margin: 0 auto;
  margin-top: 5px;
  text-align: center;
}

.thisPublicMessage {
  padding: 3%;
  color: black;
  width: 80%;
  border-radius: 5px;
  background-color: white;
  height: auto;
  border-radius: 5px;
  box-shadow: 4px 4px 6px #DDD;
  margin: 0 auto;
  margin-top: 5px;
}

.editThisMessageAdmin {
  display: none;
}

.deleteThisMessageAdmin {
  display: none;
}

.containerFormProfil {
  padding: 3%;
  color: black;
  width: 80%;
  border-radius: 5px;
  background-color: white;
  height: auto;
  border-radius: 5px;
  box-shadow: 4px 4px 6px #DDD;
  margin: 0 auto;
  margin-top: 5px;
}

.containerMembers {
  padding: 3%;
  color: black;
  width: 80%;
  border-radius: 5px;
  background-color: white;
  height: auto;
  border-radius: 5px;
  box-shadow: 4px 4px 6px #DDD;
  margin: 0 auto;
  margin-top: 5px;
  width: 50%;
}

.containerMembers .thisMember {
  margin-top: 25px;
}

.containerMembers .traitement a {
  cursor: pointer;
  margin-right: 5px;
  display: block;
}

/****************SEARCH PAGE ******************/
.containerSearch {
  padding: 3%;
  color: black;
  width: 80%;
  border-radius: 5px;
  background-color: white;
  height: auto;
  border-radius: 5px;
  box-shadow: 4px 4px 6px #DDD;
  margin: 0 auto;
  margin-top: 5px;
  margin-top: 10px;
}

.ResultatSearch {
  padding: 3%;
  color: black;
  width: 80%;
  border-radius: 5px;
  background-color: white;
  height: auto;
  border-radius: 5px;
  box-shadow: 4px 4px 6px #DDD;
  margin: 0 auto;
  margin-top: 5px;
  margin-top: 10px;
  width: 50%;
}

.profilUserSearch {
  height: 100px;
  width: 100px;
}
