doctype html
html
  head
    meta(charset='utf-8')
    title Le Réseau social
    script(src='https://cdn.socket.io/socket.io-1.0.0.js') 
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/stylesheet.css')
    script(type="text/javascript" src="../Asset/jquery-1.11.3.js")
    script(src='https://cdn.tinymce.com/4/tinymce.min.js') 
    script(src='../Asset/profil.js')
    script(src='../Asset/notification.js')
    script(src='../Asset/listUsers.js')
    script(src='../Asset/listFriends.js')
    script(src='../Asset/wallFriend.js')
    script(src='../Asset/privateMessage.js')
    script(src='../Asset/script.js')
  body
    header
        nav.navbar.navbar-default
          .container-fluid
          .navbar-header
            p.navbar-text.navbar-left
              strong NoyzBook de : 
              a.navbar-link(href='/', title="Page d'Accueil") Se déconnecter
          div#actionBar
            p(style="margin:0;") Vous êtes sur : 

          div#userbar
            p 
              a(href="myprofil") Mon profil
                //- img.profil(src='img/meprofil.png' title='Mon profil')
            p.notification
              a(href="notifications") Notification
                //- img#notif(src='img/notification.png' title='Vos notifications')
            p 
              a(href="listUsers") Ajouter utilisateurs
                //- img.friend(src='img/addUser.png' title='Ajouter un utilisateur')
            p
              a(href="listFriends") Liste d'amis
                //- img.addFriend(src='img/friend.png' title='Ajouter un ami')     
            p 
              a(href="privateMessage") Message privée
                //- img.privateMessage(src='img/message.png' title='Messages privée')
            p 
              a(href="tchat") Tchat
              //- img.chat(src='img/talkTo.png' title='Chat')        
      block content