doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Le Réseau social Noyzbook
    script(src='https://cdn.socket.io/socket.io-1.0.0.js')
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/heroic-features.css', rel='stylesheet')
    link(rel='stylesheet', href='../../css/newstylesheet.css')
    script(src='../Asset/jquery.js')
    script(src='https://cdn.tinymce.com/4/tinymce.min.js')
    script(src='../Asset/accueil.js')  
    script(src='../Asset/profil.js')
    script(src='../Asset/notification.js')
    script(src='../Asset/listUsers.js')
    script(src='../Asset/listFriends.js')
    script(src='../Asset/wallFriend.js')
    script(src='../Asset/privateMessage.js')
    script(src='../Asset/edition.js')
    script(src='../Asset/tchat.js')
    script(src='../Asset/administrateur.js')
    script(src='../Asset/search.js')
    script(type='text/javascript' src="../Asset/newscript.js")
    script(src='../Asset/bootstrap.min.js')
  body
    div.header
      nav.navbar.navbar-inverse.navbar-fixed-top
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') Se déconnecter de :
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a.accueilShortcut(href="accueil") Accueil
              li
                a.profilShortcut(href="myprofil") Mon profil
              li
                a.notificationsShortcut(href="notifications") Notification
              li
                a.listUsersShortcut(href="listUsers") Ajouter un utilisateur
              li
                a.listFriendsShortcut(href="listFriends") Mes amis  
              li
                a.privateMessagesShortcut(href="privateMessage") Message privée
              li
                a.tchatShortcut(href="tchat") Tchat
              li
                a.searchShortcut(href="search") Recherche d'un membre
    block content
    block footer    