extends layoutHeader
block content
    div.container
        p Liste de vos amis connectés sur le chat, cliquez sur leurs noms pour envoyer une invitation et démarrer un chat.
        //- div.chatWindow
        div.contactOnline
            ul.containerOnline
        //- div.chatEditor
        //-     form#sendMessageForm
        //-         textarea(style="width:80%", id="messageBox")
        //-         input(type="submit")
    